@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
  background-color: #1d283a;
}

h1 {
  color: #1ad6f1;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.lead {
  color: #47656d;
}

.navbar {
  background-color: #0d111a;
  padding: 2em;
  box-shadow: 1px 12px 14px 1px rgba(0,0,0,0.25);
}

.nav-link{
  font-size: 20px;
  font-weight: 600;
  color: #4eb4bd;
}
.nav-link:hover{
  color: aqua;
}

.nav-icon{
  color: #1ad6f1;
  font-size: 3rem;
}

.navbar-toggler{
  border: none;
}

.navbar-toggler-icon{
  
}

.featured-cities-header{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  text-decoration: underline;
  color: #1ad6f1;
}

.card {
  background-color: #1b334d;
  border-radius: 0px;
}


.city-weather {
  color: #fff;
}

.weather-search-area{
  text-align: center;
}

.city-search{
  background-color: #1b334d;
  border: 3px solid #1ad6f1;
  padding: 15px;
  font-size: 1.1rem;
  margin-right: .5em;
}

.city-submit{
  color: #4eb4bd;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #1b334d;
  border: 3px solid #1ad6f1;
  border-radius: 0px;
  padding: 15px;
}

footer{
  background-color: #0d111a;
  bottom: 0;
  /* box-shadow: 1px 12px 14px 1px rgba(0,0,0,0.25); */

  box-shadow: -4px 19px 48px 6px rgba(0,0,0,0.25);
}

.footer-item{
  font-size: 20px;
  color: #4eb4bd;
  text-align: center;
  
}

@media screen and (min-width: 601px) {
  .card-city {
    font-family: 'Poppins', sans-serif;
    color: #4eb4bd;
    font-size: 35px;
  }
}

@media screen and (max-width: 600px) {
  .card-city {
    font-family: 'Poppins', sans-serif;
    color: #4eb4bd;
    font-size: 25px;
  }
}