<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  </head>
  <body>
  
  {% include "main/includes/nav.html" %}

    <section class="section">
    <div class="container">
        <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5">Weather App</h1>
            <p class="lead">Find weather data for any city in the world</p>
        </div>
        </div>
    </div>
    </section>

<section class="section">
  <div class="container">
    <div class="row align-items-stretch justify-content-center">
        {% for city_weather in weather_data %}
        <div class="card shadow col-lg-3 col-md-4 col-sm-12 p-3 m-3">
            <div class="col-lg-12">
                <h1 class="card-city">{{city_weather.city}}</h1>
                <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png">
                <p class="city-weather"><strong>Currently: </strong>{{city_weather.description}} {{city_weather.temp}}</p>

            </div>
        </div>
        {% endfor %}


    </div>
  </div>
</section>
  </body>
</html>